# Node modules
node_modules/

# Environment variables
.env

# MacOS-specific files
.DS_Store

# Git directory
.git/

# Webpack output directory
public/dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
*.log
*.swp

# Build files
build/
dist/
